$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

* {
   margin: 0;
   padding: 0;
}
body {
  background-color: cornsilk;
  width: 400px;
  margin: 10px auto;
  text-align: center;
  padding: 20px;

}

.navbar-brand {
  font-family: 'Rock Salt', cursive;
}

h2 {
   height: 30px;
   font-size: 35px;
   text-align: center;
   font-family: 'Rock Salt', cursive;
 }

#game-wrap {
  width: 450px;
  height: 455px;
  margin: 0 auto;
  background: cornsilk;
  margin-top: 50px;
}

.row {
  width: 108%;
  height: 150px;
}

.col {
  width: 32%;
  height: 149px;
  border: 3px solid black;
  float: left;
  text-align: center;
  font-size: 150px;
  font-family: helvetica;
  color: white;
  cursor: pointer;
}

.col:nth-child(1){
  border-left: none;
}

.col:nth-child(3){
  border-right: none;
}

.row:nth-child(1) .col{
  border-top: none;
  margin-top: 3px;
}

.row:nth-child(3) .col{
  border-bottom: none;
  margin-bottom: 3px;
}
#panel {
  width: 450px;
  padding: 10px;
  margin: 0 auto;
  background: brown;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#board {
  font-size: 30px;
  font-family: helvetica;
  color: whitesmoke;
  margin-top: 10px;
}
