$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
  text-align: center;
}
// td {
//   width: 100px;
//   height: 100px;
// }
// table {
//   margin: 5px auto;
// }
// .vert {
//   border-left: 2px solid black;
//   border-right: 2px solid black;
// }
// .hori {
//   border-top: 2px solid black;
//   border-bottom: 2px solid black;
// }
//
// #board {
//   text-align: center;
//
// }


* {margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }

#board { padding: 0px; margin: 0 auto; margin-top: 25px; }
#board tr td { width: 80px; height: 80px; border: 1px solid #1c1c1c;
							 font-family: Helvetica; text-align: center; font-size: 30px; }
#board tr td:hover { background: #e4e4e4; cursor: pointer; }
1
2
3
4
5
6
7
* {margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }

#board { padding: 0px; margin: 0 auto; margin-top: 25px; }
#board tr td { width: 80px; height: 80px; border: 1px solid #1c1c1c;
 font-family: Helvetica; text-align: center; font-size: 30px; }
#board tr td:hover { background: #e4e4e4; cursor: pointer; }
